.env
/database/wincon.db
/storage/logs/*.log
/storage/cache/*
/public/assets/uploads/gallery/*
/public/assets/uploads/thumbnails/*
/public/assets/uploads/land/*
!**/.gitkeep
/vendor/
.DS_Store
Thumbs.db
